
form {
    padding: 42px;
}

form label {
    margin: 0 0 28px;
}

form input {
    width: 100%;
    padding: 0 7px;
    border: 1px solid #444;
    line-height: 42px;
}

form button {
    margin-right: 14px;
    padding: 0 42px;
    background: #a200b9;
    line-height: 42px;
}

form button.grey {
    background: grey;
}
