
article.modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: 0.3s fade-in linear forwards;
}

article.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
}

article.modal > div.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 520px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #444;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

article.modal.full > div.content {
    width: 90%;
    max-width: 90%;
    height: 90%;
}

article.modal > div.content > header {
    position: static;
    padding: 0 42px;
    background: #fff;
    box-shadow: none;
    color: #000;
}

article.modal > div.content > header > h2 {
    margin: 0;
    line-height: 3rem;
}

article.modal > div.content > header > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: #000;
}

article.modal > div.content > header > button:hover {
    background: lightgrey;
}

article.modal.active {
    display: block;
}
